@charset "utf-8";
@font-face {
    font-family:"HOBO";
    src: url(files/HoboStd.otf);
}
body{
    background-color: #ffa319;
}
#warm_0{
    background-color: #ffd102;
    color: red;
    margin: 5%;
    padding: 3%;
    font-weight: bold;
}
.warm{
    font-size: 1.2em;
    color: brown;
}
.picword{
    color: chocolate;
    font-weight: bold; 
    font-size: 1.2em;
}


.fullimg{
    width: 100%;
    border:1px solid #fff;
    border-radius: 1em;
    
}
.infos{
    color: royalblue;
}
/* 簡介 */
#intro{
    margin-top: 5%;
    padding: 10px;    
    border-radius: 1em;
    font-size: 0.96em;
    opacity: 0.82;
}
.gf00{
    font-size: 0.8em;
    color: chocolate;
}



.topNav{
    /* position: absolute; */
    /* right: 20%; */
    color: rgb(238, 238, 238);    
}


.sTitle{
    margin: 10px 0px;
    text-align: center;
    background-color: #ffd102;
    height: 26px;
}

.nBoard{    
    /* float: left; */
    padding: 1em;
    margin-bottom: 1em;    
    text-align: left;    
    width: 100%;
    /* border-radius: 1em; */
    font-size: 0.96em;
    /* opacity: 0.82; */
    line-height: 2em;
    color: #555;
    border:1px solid #888;
    box-shadow: 3px 3px 15px #888;
    -webkit-box-shadow: 3px 3px 15px #888;
    -moz-box-shadow: 3px 3px 15px #888; 
}

.thumbPic{
    width: 100%;
    border:1px solid #fff;
    border-radius: 0.5em;
    box-shadow: 3px 3px 15px #777;
    -webkit-box-shadow: 3px 3px 15px #777;
    -moz-box-shadow: 3px 3px 15px #777; 
}

.normalButton{
    width:40%;
    height:120px;
	font-size:2em;
/*    margin-top:50px;*/
}
